@model Talent_Hub.Models.Posiciones_Disponibles
@{
    ViewBag.Title = "BuscarPorNombre";
}

<h2>BuscarPorNombre</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="nombre">Nombre de la Posición:</label>
        <input type="text" name="nombre" />
    </div>

    <button type="submit">Buscar</button>
}

<p>@ViewBag.Message</p>