@model Talent_Hub.Models.Posiciones_Disponibles

@{
    ViewBag.Title = "UpdatePosicion";
}

<h2>Update Posicion</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="Id_puesto">ID del Puesto:</label>
        @Html.TextBoxFor(m => m.Id_puesto)
    </div>

    <div>
        <label for="Nombre_puesto">Nombre del Puesto:</label>
        @Html.TextBoxFor(m => m.Nombre_puesto)
    </div>

    <div>
        <label for="Departamento">Departamento:</label>
        @Html.TextBoxFor(m => m.Departamento)
    </div>

    <button type="submit">Actualizar Posición</button>
}

<p>@ViewBag.Message</p>

