@model Talent_Hub.Models.Metodos_Desarrollo
@{
    ViewBag.Title = "AgregarMetodo";
}

<h2>Agregar Metodo de Desarrollo</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="Nombre_metodo">Nombre del Método:</label>
        @Html.TextBoxFor(m => m.Nombre_metodo)
    </div>

    <div>
        <label for="Descripcion">Descripción:</label>
        @Html.TextBoxFor(m => m.Descripcion)
    </div>

    <div>
        <label for="Habilidades_desarrolla">Habilidades Desarrolladas:</label>
        @Html.TextBoxFor(m => m.Habilidades_desarrolla)
    </div>

    <button type="submit">Agregar Método</button>
}

<p>@ViewBag.Message</p>