
@{
    ViewBag.Title = "BuscarPorNombre";
}

<h2>Buscar Metodo por Nombre</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="nombre">Nombre del Método:</label>
        <input type="text" name="nombre" />
    </div>

    <button type="submit">Buscar</button>
}

<p>@ViewBag.Message</p>